.details-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    margin: 2em 0;
}

.text-section {
    width: 40%;
}

.buy-now {
    margin-bottom: 10px;
}